@model List<Data.EF.ProductCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Data.EF.Slide>)ViewBag.Slides;
    var newProducts = (List<Data.EF.Product>)ViewBag.NewProducts;
    var featureProducts = (List<Data.EF.Product>)ViewBag.FeatureProducts;
    var saleProducts = (List<Data.EF.Product>)ViewBag.SaleProducts;
    var topSellerProducts = (List<Data.EF.Product>)ViewBag.TopSeller;
}

@section slide {
    <div class="slide-container">
        <div class="wrap-slick1">
            <div class="slick1">
                @foreach (var item in slides)
                {
                    <div class="item-slick1" style="background-image: url(@item.Image); ">
                        <div class="container h-full">
                            <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<style>
    .slide-container {
        max-width: 1400px; /* Adjust this value to the desired width */
        max-height: 600px;
        margin: 0 auto; /* This will center the container */
    }

    .wrap-slick1 {
        overflow: hidden; /* Optional: To hide overflow if necessary */
    }

    .slick1 .item-slick1 {
        /* Adjust any other styles if needed */
    }
</style>


<section class="sec-product bg0 p-t-100 p-b-50" >
    <div class="container">
        <div class="p-b-32">
            <style>
                .lowered-heading {
                    margin-top: 20px; /* hoặc padding-top: 20px; */
                }
            </style>
            <h3 class="ltext-103 cl5 txt-center respon1 lowered-heading">
                Lối tắt
            </h3>
        </div>


        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#new-products" role="tab">Sản phẩm mới</a>
                </li>

                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#sale" role="tab">Sale</a>
                </li>

                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#topseller" role="tab">Bán chạy</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-50">
                <!-- San pham moi -->
                <div class="tab-pane fade show active" id="new-products" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var item in newProducts)
                            {
                                var url = "chi-tiet/" + item.MetaTitle + "-" + item.Id;
                                var dayDiff = (DateTime.Now.Subtract(item.CreatedDate.Value).Days);
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-pic hov-img0 rounded">
                                            <a href="@url"><img src="@item.Image" alt="@item.MetaTitle" class="product-image"></a>
                                            @if (dayDiff <= 30)
                                            {
                                                <div class="product__sale">
                                                    <span class="mtext-107 cl0">Mới</span>
                                                </div>
                                            }
                                            else if (item.Promotion.HasValue && item.Promotion != 0)
                                            {
                                                <div class="product__sale">
                                                    <span class="mtext-107 cl0">@item.Promotion%</span>
                                                </div>
                                            }
                                            <a href="#" data-product-id="@item.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                Xem nhanh
                                            </a>
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="@url" class="stext-104 cl2 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @item.Name
                                                </a>

                                                @if (item.Promotion == 0 || item.Promotion == null)
                                                {
                                                    <span class="stext-105 cl3">
                                                        @(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <span class="stext-105 cl3 text-decoration-line-through pr-2">
                                                            @item.Price.Value.ToString("N0")
                                                        </span>
                                                        <span class="stext-105 cl3 text-danger">
                                                            @item.PromotionPrice.Value.ToString("N0")
                                                        </span>
                                                    </div>
                                                }
                                            </div>

                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                    <img class="icon-heart1 dis-block trans-04" src="/Assets/Client/images/icons/icon-heart-01.png" alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/Assets/Client/images/icons/icon-heart-02.png" alt="ICON">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                <!-- Sale -->
                <div class="tab-pane fade" id="sale" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var item in saleProducts)
                            {
                                var url = "chi-tiet/" + item.MetaTitle + "-" + item.Id;
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-pic hov-img0 rounded">
                                            <a href="@url"><img src="@item.Image" alt="@item.MetaTitle" style=" object-fit: cover; height: 472px;"></a>
                                            @if (item.Promotion.HasValue && item.Promotion != 0)
                                            {
                                                <div class="product__sale">
                                                    <span class="mtext-107 cl0">@item.Promotion%</span>
                                                </div>
                                            }

                                            <a href="#" data-product-id="@item.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                Xem nhanh
                                            </a>
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l">
                                                <a href="@url" class="stext-104 cl2 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @item.Name
                                                </a>

                                                @if (item.Promotion == 0 || item.Promotion == null)
                                                {
                                                    <span class="stext-105 cl3">
                                                        @(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")
                                                    </span>
                                                }
                                                else
                                                {
                                                    <div>
                                                        <span class="stext-105 cl3 text-decoration-line-through pr-2">
                                                            @item.Price.Value.ToString("N0")
                                                        </span>
                                                        <span class="stext-105 cl3 text-danger">
                                                            @item.PromotionPrice.Value.ToString("N0")
                                                        </span>
                                                    </div>
                                                }
                                            </div>


                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                    <img class="icon-heart1 dis-block trans-04" src="/Assets/Client/images/icons/icon-heart-01.png" alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/Assets/Client/images/icons/icon-heart-02.png" alt="ICON">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Top ban chay -->
                <div class="tab-pane fade" id="topseller" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var item in topSellerProducts)
                            {
                                var url = "chi-tiet/" + item.MetaTitle + "-" + item.Id;
                                var dayDiff = (DateTime.Now.Subtract(item.CreatedDate.Value).Days);
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        <div class="block2-pic hov-img0 rounded">
                                            <a href="@url"><img src="@item.Image" alt="@item.MetaTitle" style=" object-fit: cover; height: 472px;"></a>
                                            @if (dayDiff <= 30)
                                            {
                                                <div class="product__sale">
                                                    <span class="mtext-107 cl0">Mới</span>
                                                </div>
                                            }
                                            else if (item.Promotion.HasValue && item.Promotion != 0)
                                            {
                                                <div class="product__sale">
                                                    <span class="mtext-107 cl0">@item.Promotion%</span>
                                                </div>
                                            }

                                            <a href="#" data-product-id="@item.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                Xem nhanh
                                            </a>
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="@url" class="stext-104 cl2 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @item.Name
                                                </a>

                                                @if (item.Promotion == 0 || item.Promotion == null)
                                                {
                                                    <span class="stext-105 cl3">
                                                        @(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")
                                                    </span> }
                                                else
                                                {
                                                    <div>
                                                        <span class="stext-105 cl3 text-decoration-line-through pr-2">
                                                            @item.Price.Value.ToString("N0")
                                                        </span>
                                                        <span class="stext-105 cl3 text-danger">
                                                            @item.PromotionPrice.Value.ToString("N0")
                                                        </span>
                                                    </div>
                                                }
                                            </div>

                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                    <img class="icon-heart1 dis-block trans-04" src="/Assets/Client/images/icons/icon-heart-01.png" alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/Assets/Client/images/icons/icon-heart-02.png" alt="ICON">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/Assets/Client/vendor/slick/slick.min.js"></script>
<script src="/Assets/Client/js/slick-custom.js"></script>